doctype html
html
  head
    link(rel="stylesheet" href="/chartist.min.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    script(src='/chartist.min.js')

  body.flexBody
   
    div(class="ct-chart ct-perfect-square")

    script.
      var data = !{JSON.stringify(server.results[server.currentQuestion])}
      console.log(data)
      var sum = function(a, b) { return a + b };

      new Chartist.Pie('.ct-chart', data, {
      labelInterpolationFnc: function(value) {
      return value;
      }
      });

    
//Try to use just a js file and a placeholder in other templates
